<ul>
  <li class="<%= "completed" if task.complete? %>">
    <div class="view">
      <%= form_for([@list, task]) do |f| %>
        <%= f.check_box :completed, :class => "toggle", :checked => (true if task.complete?) %>
        <label><%= task.description %></label>
        <%= link_to "X", list_task_path(task), method: :delete %>
      <% end %>
    </div>
  </li>
</ul>
